.contenedorCartas {
         padding: 1rem;
        cursor: pointer;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin-left: 40px;
}

@media screen and (max-width: 600px) {
    .contenedorCartas {
    display: flex;
   flex-wrap: wrap;
   flex-direction: row;
   margin-left: 10px;
   

    }
    
    
  }

 